node_modules/
.idea/
.DS_Store
build/
dev-build/
test-build/
./demo/node_modules
utils/tlsn
.vscode
.env

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/output
/output/temp